DJANGO_SECRET_KEY=troque-esta-chave
DJANGO_DEBUG=false
DJANGO_ALLOWED_HOSTS=127.0.0.1,localhost,192.168.0.10
DJANGO_CSRF_TRUSTED_ORIGINS=http://127.0.0.1:8000,http://localhost:8000
ALLOW_ANY_HOST_FROZEN=false
ENABLE_REALTIME=true

SECURE_SSL_REDIRECT=true
SESSION_COOKIE_SECURE=true
CSRF_COOKIE_SECURE=true
SECURE_HSTS_SECONDS=31536000

DB_ENGINE=postgres
POSTGRES_DB=billar
POSTGRES_USER=billar
POSTGRES_PASSWORD=troque-esta-senha
POSTGRES_HOST=127.0.0.1
POSTGRES_PORT=5432
DB_CONN_MAX_AGE=60
POSTGRES_SSLMODE=require
# POSTGRES_SSLROOTCERT=C:/certs/root.crt
# POSTGRES_SSLCERT=C:/certs/client.crt
# POSTGRES_SSLKEY=C:/certs/client.key
SQLITE_TIMEOUT=20

REDIS_URL=redis://127.0.0.1:6379/1

BILLAR_INIT_ADMIN_PASSWORD=troque-esta-senha
